@font-face {
  font-family: 'RedHatDisplay';
  src: url('fonts/RedHatDisplay-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('fonts/RedHatDisplay-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('fonts/RedHatDisplay-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'RedHatText';
  src: url('fonts/RedHatText-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'RedHatText';
  src: url('fonts/RedHatText-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
