@font-face {
    font-family: beteckna;
    src: url('beteckna.otf');
}

.body-cockpit {
    background: #fff;
    color: #3e5375;
}

.jumbotron-cockpit {
    background: #3e5375;
    color: #eeeeec;
    padding-bottom: 0;
    font-size: 18px;
}

.jumbotron-static {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 10px;
    z-index: 10;
}

.jumbotron-static + div {
    padding-top: 100px;
}

.jumbotron-static + main {
    padding-top: 50px;
}

.jumbotron .nav {
    float: right;
    color: white;
}

.jumbotron .nav > li > a {
    color: white;
    padding: 7px 15px;
    border-radius: 0;
}

.jumbotron .nav > li > a:hover,
.jumbotron .nav > li > a:focus {
    background-color: #337ab7;
}

.jumbotron .nav > li.active a {
    font-weight: bold;
    background-color: transparent;
}

#user_meta {
	position: fixed;
	left: 0px;
	top: 0px;
}

.screenshot-cockpit {
    display: block;
    position: relative;
    width: 419px;
    float: right;
}

.screenshot-cockpit:hover {
    cursor: pointer;
}

.screenshot-cockpit img {
    width: 419px;
}

.screenshot-cockpit:before {
    display: block;
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -20px 15px -15px rgba(0,0,0,0.2);
}

.logo-cockpit {
    background: url('images/cockpit-logo.png') no-repeat;
    width: 366px;
    height: 64px;
    margin-bottom: 20px;
}

.logo-cockpit h1,
.logo-small h1 {
    display: none;
}

.logo-small {
    background: url('images/cockpit-logo-small.png') no-repeat;
    width: 366px;
    height: 64px;
    margin-bottom: 20px;
}

.btn-download,
.btn-download:hover,
.btn-source,
.btn-source:hover {
    color: #3e5375;
    background: #eeeeec;
    border: none;
    box-shadow: 0px 3px 0px rgba(46, 61, 86, 1);
    margin: 10px 10px 20px 0px;
}

.btn-download,
.btn-download:hover {
    background: url('images/item-git.png') #eeeeec 10px no-repeat;
    padding-left: 40px;
}

/* Override to fit screenshots */
.modal-lg {
    width: 1315px;
    max-width: 100%;
}

.modal-lg img {
    max-width: 100%;
    border: 1px solid #d3d7cf;
}

.container-screenshots {
    padding-bottom: 20px;
}

.container-screenshots .screenshot {
    padding: 40px;
}

.container-screenshots h3 {
    font-family: beteckna;
}

.container-screenshots p {
    font-size: 16px;
}

.container-screenshots .screenshot .screenshot-image {
    max-width: 100%;
    border: 1px solid #d3d7cf;
}

.container-screenshots .screenshot .screenshot-image:hover {
    cursor: pointer;
}

.container-resources {
    background: #eeeeec;
    border-top: 1px solid #d3d7cf;
    border-bottom: 1px solid #d3d7cf;
    padding: 20px 10%;
}

.container-resources .row .col-md-6 {
    padding: 20px 15px;
}

.container-resources p {
    font-size: 16px;
    padding-top: 15px;
    padding-left: 10px;
    display: inline-block;
}

.container-resources dl a {
    display: block;
    color: #093d69;
    max-width: 350px;
}

.container-resources dl a,
.container-resources dt.no-link {
    padding: 5px 20px;
}

.container-resources dl a:hover {
  background-color: white;
}

.container-resources dd a {
    padding-left: 30px;
}

.container-resources dl {
    font-size: 18px;
}

.container-resources + .footer-cockpit {
    margin-top: 0px;
}

.os-selector {
    padding: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.os-selector:hover {
    cursor: pointer;
    border-radius: 5px;
    background: #eeeeec;
}

.os-selector img {
    max-width: 100%;
}

.os-infobox {
    background: #eeeeec;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    min-height: 100px;
}

.os-infobox-stable {
    width: 68px;
    height: 68px;
    float: right;
    background: url('images/os-stable.png') no-repeat;
    margin: -20px;
}

code {
    background: #555753;
    color: #eeeeec;
    border-radius: 0; 
}

.port-info span {
    color:gray;
    font-style: italic;
}

hr {
    margin: 2em 0;
    border-color: #babdb6;
}

.browser-header {
    text-align: center;
    background: url('images/ornament.png');
    margin-top: 20px;
    color: #979c91;
}

.browser-header p {
    display: inline;
    background: #fff;
    padding: 0 10px;
}

.browser-list {
    padding-top: 20px;
    margin-bottom: 30px;
}

.browser-list div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-cockpit {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 3em;
    padding-bottom: 0.5em;
}

.footer-cockpit a {
    color: #84bbef;
}

/* Responsive additions */

@media (max-width: 508px) {

    .screenshot-cockpit,
    .screenshot-cockpit img {
        width: 100%;
    }
}
@media (max-width: 450px) {    
    .logo-cockpit {
    width: 100%;
    background-size: 100%;
    }
}

article {
  color: black;
  width: 65%;
  margin-left: 10%;
}

main {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  overflow-x: visible;
  overflow-y: visible;
  position: static;
  width: 100%;
  right: 0;
}

main h1,
main h3,
main h2 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  margin-bottom: 1em;
}

main h1 a,
main h2 a,
main h3 a {
  color: inherit;
}

main .footer-cockpit {
  margin-top: 0px;
}

header {
  display: none;
}
