<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- ## for client-side less
  <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/theme/css/style.less">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js" type="text/javascript"></script>
  -->
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
  <link href="{{ SITEURL }}/../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="{{ SITEURL }}/../bootstrap/css/cockpit.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Roboto+Slab:400,700">
  <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="Posts and writings by {{ AUTHOR }}">

  <script>
    $(function() {
       $("article img").each(function() {
	   var a = $("<a>", {href: this.src});
	   $(this).replaceWith(a);
	   a.append(this);
	});
    });
  </script>

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS" />
  {% endif %}

  {% block head %}
  {% endblock %}

  <title>
    {% block title %}{% endblock %}
  </title>

  {% include "modules/analytics.html" %}
</head>

<body>
<div class="jumbotron jumbotron-cockpit jumbotron-static">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ SITEURL }}/../index.html">Home</a></li>
        <li role="presentation" class="active"><a href="{{ SITEURL }}">Blog</a></li>
        <li role="presentation"><a href="https://github.com/cockpit-project/cockpit/wiki/Contributing">Contribute</a></li>
	<li role="presentation"><a href="http://cockpit-project.org/blog/category/release.html">Releases</a></li>
	<li role="presentation"><a href="http://cockpit-project.org/blog/category/tutorial.html">Tutorials</a></li>
        {% for name, link in LINKS %}
        <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ SITEURL }}/../index.html"><div class="logo-small"><h1>Cockpit</h1></div></a>
</div>
	  

  <main>
    <header>
      <p>
      <a href="{{ SITEURL }}">Index</a> &brvbar; <a href="{{ SITEURL }}/archives.html">Archives</a>
      {% if FEED_ALL_ATOM %}
      &brvbar; <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom</a>
      {% endif %}
      {% if FEED_ALL_RSS %}
      &brvbar; <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS</a>
      {% endif %}
      {% block header %}
      {% endblock header %}
      </p>
    </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

  <footer class="footer-cockpit">
    <p>Cockpit is free software and released under the
    	<a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">LGPL v2.1+</a></p>
    <p>&copy; Cockpit contributors 2015</p>
    <p>Blog built using <a href="http://getpelican.com" target="_blank">Pelican</a> with a theme by Giulio Fidente on <a href="https://github.com/gfidente/pelican-svbhack" target="_blank">github</a></p>
  </footer>

  </main>

  {% include "modules/idl.html" %}
</body>
</html>
