{% assign navs = include.nav | default: site.data.navigation %}

{% unless include.wrap == false %}
  <nav role="{{ include.role }}" class="{{ include.class }}">
{% endunless %}

  <ul>

    {% for nav in navs %}
      {% if nav.url == page.url | replace: ".html", "/" %}
        {% assign active = " active" %}
      {% else %}
        {% assign active = "" %}
      {% endif %}

      <li class="nav.url-{{ nav.url | slugify | default: "home" }}{{ active }}" role="menuitem">
        <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.title }}</a>
        {% if nav.nav %}
          {% include nav.html nav=nav.nav wrap=false %}
        {% endif %}
      </li>
    {% endfor %}

  </ul>

{% unless include.wrap == false %}
  </nav>
{% endunless %}
