{% assign navs = include.nav | default: site.data.navigation %}

{% unless include.wrap == false %}
  <input type="checkbox" id="nav-toggle" class="nav-check" hidden="hidden">
  <nav role="{{ include.role }}" class="{{ include.class }}">
  <label for="nav-toggle" class="nav-toggle" title="Menu"></label>
  <label for="nav-toggle" class="nav-screen"></label>
{% endunless %}

  <ul class="nav-menu" role="menubar">
    {% for nav in navs %}
      {% capture vars %}
        {% if nav.url == page.url | replace: ".html", "/" %}
          {% assign active = " active" %}
        {% elsif nav.url == page.url | remove: ".html" %}
          {% assign active = " active" %}
        {% else %}
          {% assign active = "" %}
        {% endif %}

        {% assign protocol = nav.url | split: ':' | first | downcase %}
        {% if protocol == 'https' %}
          {% assign baseurl = '' %}
        {% elsif protocol == 'http' %}
          {% assign baseurl = '' %}
        {% elsif protocol == 'ftps' %}
          {% assign baseurl = '' %}
        {% elsif protocol == 'ftp' %}
          {% assign baseurl = '' %}
        {% elsif protocol == 'mailto' %}
          {% assign baseurl = '' %}
        {% else %}
          {% assign baseurl = site.baseurl %}
        {% endif %}

        {% if nav.nav %}
          {% assign navgroup = " nav-group" %}
        {% else %}
          {% assign navgroup = "" %}
        {% endif %}

        {% if nav.icon-only == true %}
          {% assign nav_label = '' %}
          {% assign nav_title = nav.title | prepend: ' title="' | append: '"' %}
          {% assign nav_alt = nav.title %}
        {% else%}
          {% assign nav_label = nav.title | prepend: '<span class="label">' | append: '</span>' %}
          {% assign nav_title = '' %}
          {% assign nav_alt = '' %}
        {% endif %}

        {% if nav.icon %}
          {% assign nav_class = nav.class | append: " nav-icon" %}
            {% capture nav_icon %}
              <img src="{{ site.baseurl }}/images/{{ nav.icon }}.svg" alt="{{ nav_alt }}"{{ nav_title }}>
            {% endcapture %}
        {% else %}
          {% assign nav_class = nav.class %}
        {% endif %}
      {% endcapture %}{% assign vars = nil %}

      <li class="nav--{{ nav.title | slugify | default: "home" }}{{ nav_class }}{{ navgroup }}{{ active }}" role="menuitem">
        {% if nav.url %}
          <a href="{{ nav.url | prepend: baseurl }}">{{
            nav_icon | strip
            }}{{
            nav_label | strip
            }}</a>
        {% else %}
          <span class="not-a-link">{{ nav.title }}</span>
        {% endif %}
        {% if nav.nav %}
          {% include nav.html nav=nav.nav wrap=false %}
        {% endif %}
      </li>
    {% endfor %}

  </ul>

{% unless include.wrap == false %}
  </nav>
{% endunless %}
