{% assign post_set = include.posts | default: site.posts %}
{% assign limiter = include.limit | default: site.paginate %}

<div class="blog-posts-list">
  <section class="articles">

    {% for post in post_set limit: limiter %}

      {% if post.category == "release" %}
        {% assign heading_summary = true %}
      {% else %}
        {% assign heading_summary = false %}
      {% endif %}

      {% include post.html post=post excerpt=true link=true heading_summary=heading_summary %}

    {% endfor %}
  </section>
</div>
