{% assign id = include.id | default: config.twitter_id %}
{% assign _account = include.account | default: config.twitter_username %}
{% assign limit = include.limit | default: 3 %}

{% if include.id %}
  <script id="twitter-wjs" src="https:////platform.twitter.com/widgets.js"></script>
  <script>
    // Load the Twitter widget JS in a <script> at the top of the doc
    !function (doc, tag, id) {
      var scriptTag,
      firstScriptTag = doc.getElementsByTagName(tag) [0];

      if (!doc.getElementById(id)) {
        scriptTag = doc.createElement(tag);
        scriptTag.id = id;
        scriptTag.src = '//platform.twitter.com/widgets.js';
        firstScriptTag.parentNode.insertBefore(scriptTag, firstScriptTag);
      }
    }(document, 'script', 'twitter-wjs');
  </script>
  <div class="twitter-timeline"
       data-chrome="noheader nofooter noborders noscrollbar transparent"
       data-dnt=""
       {% if include.color %}
         data-link-color="{{ include.color }}"
       {% endif %}
         data-tweet-limit="{{ limit }}"
         data-widget-id="{{ id }}"
         href="https://twitter.com/{{ _account }}">
    <noscript>The embedded Twitter timeline requires JavaScript.</noscript>
  </div>
  <div class="more-link pull-right">
    <a href="https://twitter.com/{{ _account }}">More tweets by @{{ _account }}…</a>
  </div>
{% else %}
  <em><strong>ERROR</strong>: You must include a Twitter ID.</em>
{% endif %}
