<script src="{{ "assets/lib/upcoming.js" | prepend: site.baseurl }}"></script>

<div id="upcoming-template" hidden>
  <dl class="upcoming-list">
    <dd class="upcoming-date">
      <span class="day">DAY</span>
      <span class="month">MONTH</span>
    </dd>
    <dt class="upcoming-event">
      <a href="/events/#EVENT-URL">EVENT TITLE</a>
    </dt>
  </dl>
  <div class="upcoming-more more"><a href="/events/">View all current events…</a></div>
</div>

<div id="upcoming">
  <div class="upcoming-more more"><a href="/events/">View all current events…</a></div>
</div>
