// Please copy default.scss to site.scss to customize your site.
//
// If site.scss (or site) exists, then default.scss will not
// be used. (You can then use it for reference later.)
//
// Be sure to `@import "minima"` after the variables needed for it
// and before your own custom CSS, so you can easily override
// (if you really need to).

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, Liberation Sans, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     1rem;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    60em;

// Import partials from the `minima` theme.
@import "minima";

// Import grid (see http://gridlex.devlint.fr/ for docs)
@import "vendor/gridlex";

// Comment out or remove the follow if you don't use the feature
////////////////////////////////////////////////////////////////////////
@import "lib/nav";          // Navbar (see opts in lib/navbar.sass)
@import "lib/search";       // Styles for the search page
@import "lib/blog";         // Default blog style
@import "lib/pagination";   // Blog pagination
@import "lib/stickyfooter"; // Stretch page with footer on bottom
@import "lib/scrollbar-on"; // Stop page shift by keeping scrollbar on
//@import "lib/events";       // Events and upcoming support.
//@import "lib/stickyheader"; // Keep header at the top

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
