body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #4d4d4d;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
a {
  color: #000000;
  text-decoration: none;
}
strong {
  font-weight: 700;
}
hr {
  color: #eeeeee;
  background-color: #eeeeee;
  height: 1px;
  border: none;
}
h1, h3, h2 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
aside div#user_meta {
  padding: 40px;
  text-align: center;
}
aside div#user_meta h2 {
  margin: 15px 0 5px 0;
}
aside div#user_meta p {
  margin: 0 0 15px 0;
  font-size: 14px;
}
aside div#user_meta ul {
  margin: 40px 0 0 0;
  padding-left: 0;
  font-size: 16px;
  list-style-type: none;
}
aside div#user_meta ul li {
  display: inline;
  line-height: 3em;
}
aside div#user_meta ul li a {
  padding: 5px 15px 5px 15px;
  border: 3px solid #eeeeee;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #999999;
}
#article_comments {
  margin-top: 70px;
}
main header {
  padding: 40px;
  border-top: #eeeeee 1px solid;
  border-bottom: #eeeeee 1px solid;
}
main header p {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
main article {
  max-width: 640px;
  padding: 40px;
}
main article div.article_text {
  line-height: 1.375em;
}
main article div.article_text a {
  text-decoration: underline;
}
main article div.article_text code {
  margin: 2px;
  padding: 0;
  color: #000000;
  font-size: 14px;
  font-family: monospace;
  background: #eeeeee;
}
main article div.article_text pre {
  margin: 22px 2px 22px 2px;
  padding: 7px;
  color: #000000;
  font-size: 13px;
  font-family: monospace;
  background: #eeeeee;
  line-height: 1.4em;
  overflow-x: auto;
}
main article div.article_text blockquote {
  margin: 22px 2px 22px 2px;
  padding-left: 40px;
  color: #999999;
  font-style: italic;
}
main article div.gist {
  line-height: .875em;
}
main article div.article_meta {
  font-size: 12px;
  color: #999999;
}
main footer {
  border-top: #eeeeee 1px solid;
  padding: 40px;
}
main footer a.button_accent {
  padding: 10px;
  border: 2px solid #0e94ec;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-transform: uppercase;
  color: #0e94ec;
  font-size: 18px;
}
main footer a.button_accent:hover {
  color: #ffffff;
  background-color: #0e94ec;
}
main footer a.button_accent:active {
  color: #ffffff;
  background-color: #0e94ec;
}
main div#ending_message {
  border-top: #eeeeee 1px solid;
  padding: 0 40px 0 40px;
  color: #999999;
  font-size: 10px;
}
@media screen and (min-width: 1024px) {
  aside {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border-left: #eeeeee 1px solid;
  }
  aside h2 {
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  aside div#user_meta {
    max-width: 213px;
    text-align: right;
    margin-right: auto;
    margin-left: auto;
  }
  aside div#user_meta ul li {
    display: block;
  }
  main {
    width: 65%;
    position: absolute;
    top: 0;
    right: 25%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  main article {
    max-width: 640px;
  }
  main article img {
    max-width: 100%;
  }

  main header {
    border-top: 0;
  }
}

img.expanded {
   z-index: 0;
   max-width: none;
}
