<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="{{ site.name }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="FIXME">
    <meta property="og:image" content="FIXME">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{ "/assets/main.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  </head>


  <body id="page-top">
    {{ content }}
  </body>

</html>
