---
layout:
---
{% comment %} Cockpit-specific guide template {% endcomment %}

{% assign html_orig = '<html' %}
{% assign css_orig = '</head>' %}
{% assign nav_orig = '<table class="navigation"' %}


{% assign html_mod = '<html class="cockpit-guide"'%}

{% capture css_mod %}
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  {{ css_orig }}
{% endcapture %}

{% capture nav_mod %}
  {% include page_header.html %}
  {{ nav_orig }}
{% endcapture %}

{{ content
  | replace: html_orig , html_mod
  | replace: css_orig , css_mod
  | replace: nav_orig , nav_mod
}}
